@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #101B13;
    overflow-x: hidden;
}

body{
    width: 100%;
    margin: 0;
}

li{
    display: inline-block;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
    background-color: #101B13;
    position: fixed;
    top: 0;
    z-index: 999;
}

#logo{
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
}

.links{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    margin-right: 12px;
    margin-left: 12px;
    color: #FFF;
    text-decoration: none;
    text-decoration-color: #23AE4A00;
    transition: text-decoration-color .5s;
}

.links:hover{
    text-decoration: underline;
    text-decoration-color: #23AE4Aff;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}

#div-button-header{
    display: flex;
    height: 52px;
    padding-right: 32px;
    align-items: center;
    justify-content: center;
}

#header-links{
    display: flex;
    align-items: center;
}

#simbol{
    margin-right: 1.5rem;
    align-self: start;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #101B13;
}

#container{
    height: 300vh;
    width: 100vw;
}

#content-home{
    height: 70vh; 
    width: 40vw;
    margin-right: 5%;
}

.title{
    font-family: 'Lato', sans-serif;
    font-size: 3.5rem;
    color: #FFF;
    margin: 0;
}

.title.home{
    margin-top: 15%;
    margin-bottom: 5%;
}

.title.team{
    margin-top: 1.5%;
    margin-bottom: 2.5%;
}

.title.section{
    color: #23AE4A
}

.subtitle{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2rem;

    margin: 0;

    color: #23AE4A
}

.paragraph{
    font-family: 'Lato', sans-serif;
    font-weight: regular;
    font-size: 1rem;
    color: #FFF;
    margin: 0;
}

#div-button-menu{
    display: flex;
    margin-top: 10%; 
    height: 52px;
    width: 170px;
    align-items: center;
    justify-content: center;
}

.pushable {
    background: #13662b;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;

    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

    background: #23AE4A;
    color: #fff;
    transform: translateY(-4px);

    will-change: transform;
    transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover .front {
    background-color: #2cc457;
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-1px);
    transition: transform 34ms;
}
  
.pushable:active .front {
    transform: translateY(-2px);
}

#div-arrow-down{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100vw;
    position: absolute; 
    bottom: 0px;
}

#arrow-down{
    position: relative;
    bottom: 10px;
}

#div-arrow-down:hover #arrow-down{
    animation: moveAnim 0.5s;
    animation-iteration-count: 2;
}

@keyframes moveAnim {
    0% {bottom: 10px;}
    50% {bottom: 0px;}
    100% {bottom: 10px}
}

#team-page{
    height: 125vh;
    width: 100vw;
    background-color: #efefef;
}
#team-page-content{
    padding-top: 10vh; 
    padding-left: 5%; 
    padding-right: 5%
}

.team-card{
    display: flex; 
    height: 75vh; 
    width: 28vw; 
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    transition: all .2s ease-in-out;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 24vw 75vh;
}
.team-card:hover { 
    transform: scale(1.03); 
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);

}
      
.team-card-content{
    display: flex; 
    flex-direction: column; 
    justify-content: end; 
    padding: 10%;
}
#carbon-page{
    height: 100vh;
    width: 100vw;
    background-color: #101B13;
}
#carbon-content{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
#carbon-div-text{
    display: flex;
    flex-direction:column;
    
    margin-left: 5vw;
    margin-right: 5vw;

    height: 100vh;
    width: 39vw;
}
#image-fabric{
    width: 50vw;
    margin-right: 5%;
    margin-top: 5%;
    box-shadow: 10px 10px 8px #000 ;
}

.title-dropdown{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;

    color: #fff;
    margin: 0;
}

.dropdown{
    
    width: 35vw; 
    border-bottom: 5px solid white;
    transition: all 250ms;
    
}
.dropdown-title{
    display:flex;
    flex-direction: row; 
    justify-content: space-between ;
    margin-top: 5%;
    margin-bottom: 3%;
}

.dropdown-content {
    display: none;

    min-width: 160px;

    overflow:hidden;

    z-index: 1;
    transition: 250ms;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-right: 5%;
}

#questions{
    
    width: 50vw; 
    height: 100vh;
}

#btnControl {
    display: none;
}

#btnControl:checked + .dropdown > .dropdown-content {
    display: flex;
    flex:1
} 

#btnControl:checked + .dropdown > .dropdown-title > #plus-image{
    transform: rotate(45deg);
}

#btnControl-1 {
    display: none;
}

#btnControl-1:checked + .dropdown > .dropdown-content {
    display: flex;
    flex:1
}

#btnControl-1:checked + .dropdown > .dropdown-title > #plus-image{
    transform: rotate(45deg);
}

#btnControl-2 {
    display: none;
}

#btnControl-2:checked + .dropdown > .dropdown-content {
    display: flex;
    flex:1
}

#btnControl-2:checked + .dropdown > .dropdown-title > #plus-image{
    transform: rotate(45deg);
}

#btnControl-3 {
    display: none;
}

#btnControl-3:checked + .dropdown > .dropdown-content {
    display: flex;
    flex:1
}

#btnControl-3:checked + .dropdown > .dropdown-title > #plus-image{
    transform: rotate(45deg);
}

#plus-image{
    font-size: 1.5em; 
    color: white;
    transition: 250ms;
}

#contact{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #101B13;
    justify-content: center;
    align-items: center;
}

#contact-content{
    display: flex;
    flex:0.5;
    flex-direction: column;
    margin-top: 15vh;
    width: 50vw;
}

#contact-content-row{
    display: flex;
    width: 100%;
    gap: 8px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#ftext-area{
    text-align: start;
    font-family: 'Lato', sans-serif;
    height: 13vh;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-button{
    display: flex;
    align-self: flex-end;
}

#about-page{
    height: 100vh;
    width: 100vw;
    background-color: #FFF;
}

.error {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    bottom: 15px;
    right: 15px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    overflow: hidden;
    background-color: rgb(219, 0, 0);
    border: #000 solid 2px;
    color: #FEFEFE;
    
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
 }
 @keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
        border: 0px;
        padding: 0px;
    }
 }
 @-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
        border: 0px;
        padding: 0px;
    }
 }
 #simbol-large{
     height: 25vh;
     height: 25vw;
 }
.cards-div{
    display: flex; 
    flex-direction: row; 
    gap: 10vw
}
 @media only screen and (max-width: 1024px) {
    .title{
        font-size: 3.0rem;
    }   
    .dropdown{
        width: 90vw; 
    }
    #carbon-page{
        height: 130vh;
    }
    #carbon-content{
        justify-content: start;
    }
    #carbon-page #image-fabric{
        display: none;
    }
    #carbon-page .title{
        font-size:1.5rem;
    }    
    #carbon-page .subtitle{
        font-size:1.0rem;
    }
    #about-page{
        height: 120vh;
    }
 }

@media only screen and (max-width: 1024px){
    #header-links ul{
        display: none;
    }
    .title{
        font-size: 2.0rem;
    }   
}
@media only screen and (max-width: 425px){
    #simbol-large{
        display: none;
    }
    #content-home{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    #carbon-home .title{
        text-align: center;
    }   
    #content-home .paragraph{
        text-align: center;
    }
    #about-page{
        height: 150vh;
    }
    #contact-content{
        width: 100vw;
        flex: 1;
        padding-inline: 5%;
    }
}
@media only screen and (max-width: 768px){
    #team-page{
        display: none;
    }   
    #about-page #image-fabric{
        display: none;
    }
    #carbon-div-text{
        width: 100%;
    }
}

@media only screen and (max-width: 375px){
    #div-button-header{
        display: none;
    }   
}
